
<div class="navbar">
    
    <div class="logo-section">
        <fa-icon [icon]="faGraduationCap" class="grad-icon"></fa-icon>
        <span class="brand-name">Prelag</span>
    </div>

   
        <a id="dashboard"href="">Dashboard</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a id="profile" href="">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
        
        <div>
            <a  id="login-button" href="" *ngIf="!isLoggedIn">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a  id="logout-button" href="" *ngIf="isLoggedIn">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
   
        
</div>